Flask==2.3.3
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==4.8.0
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-Moment==1.0.5
Flask-PageDown==0.4.0
Flask-SQLAlchemy==3.0.5
Flask-SSLify==0.1.5
Flask-WTF==1.1.1
Werkzeug==2.3.7
itsdangerous==2.1.2
python-dotenv==1.0.0
SQLAlchemy==2.0.23
alembic==1.12.1
bleach==6.0.0
click==8.1.7
coverage==7.3.2
Faker==20.1.0
markdown==3.5.1
selenium==4.15.2
WTForms==3.1.1