Flask==2.3.3
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.0.5
python-dotenv==1.0.0
Werkzeug==2.3.7
click==8.1.7
coverage==7.3.2
Faker==20.1.0
itsdangerous==2.1.2
markdown==3.5.1
bleach==6.0.0
Flask-Bootstrap==3.3.7.1
Flask-Mail==0.9.1
Flask-Moment==1.0.5
Flask-PageDown==0.3.0
Flask-SSLify==0.1.5
alembic==1.12.1
SQLAlchemy==2.0.23
selenium==4.15.2
Flask-HTTPAuth==4.8.0
Flask-WTF==1.2.1
WTForms==3.1.1