Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
python-dotenv
click
coverage
Flask-Mail
Faker
SQLAlchemy
itsdangerous
markdown
Werkzeug
bleach
Flask-Bootstrap
Flask-Moment
Flask-PageDown
Flask-SSLify
alembic
selenium
Flask-HTTPAuth
Flask-WTF
WTForms